/*reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*palette*/

:root {
    --color-dark-color: #141922;
    --color-dark-grey: #282828;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey: #717171;
    --color-light-grey: #c1c1c1;
    --color-highlight: #adff2f;
}

/*scrollbar*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-dark-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-black); 
    border-radius: 50px;
}

/*icons

<i class="fa-regular fa-heart"></i> --heart
<i class="fa-regular fa-folder"></i> --folder
<i class="fa-solid fa-list"></i> --list
<i class="fa-solid fa-desktop"></i> --desktop
<i class="fa-solid fa-volume-high"></i> --volume
<i class="fa-regular fa-circle-play"></i> --play
<i class="fa-solid fa-forward-step"></i> --step-right
<i class="fa-solid fa-backward-step"></i>--step-left
<i class="fa-solid fa-shuffle"></i> --shuffle
<i class="fa-solid fa-rotate-right"></i> --repeat

*/

/*flex*/

.d-flex {
    display: flex;
    flex-flow: row;
}

/*miscellaneous*/

h2 {
    font-size: 1.8rem;
    color: var(--color-white);
}

h3 {
    font-weight: 600;
    color: var(--color-white);
    
}

h4 {
    font-size: 1rem;
    color: var(--color-grey);
}

img {
    width: 100%;
    display: inline-block;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-grey);
}

.macro-container {
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
    height: calc(100% - 90px);
    background-color: #717171;
    overflow-y: hidden;
}

.icon {
    width: 25px;
}

.text-white {
    color: var(--color-white);
}

.text-grey {
    color: var(--color-grey);
}

/*sidebar*/

.sidebar {
    width: 250px;
    background-color: var(--color-black);
    display: flex;
    flex-flow: column;
    min-height: 480px;
}

.logo-playlist-wrapper {
    height: calc(100% - 100px);
    padding: 20px;
}

.logo-wrapper>img {
    width: 150px;
    padding: 10px;
}

.minor-logo-wrapper {
    display: none;
    width: 30px;
}

.option-wrapper {
    padding: 10px 0px;
}

.option>*{
    display: inline-block;
    vertical-align: middle;
    padding: 5px 0px;
}

.playlist-wrapper {
    overflow-y: hidden;
}

.playlist-wrapper>ul {
    overflow-y: auto;
}

.playlist-wrapper>h3,.add-wrapper {
    padding: 5px 0px;
}

.add {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: var(--color-light-grey);
    text-align: center;
    border-radius: 2px;
    margin-right: 5px;
}

.add>i {
    font-size: 1.2rem;
    padding-top: 10px;
}

.add-wrapper>h3 {
    display: inline-block;
    font-size: 1.1rem;
}

.playlist-wrapper>ul>li {
    padding: 10px 0px;
}

.propic-wrapper {
    height: 100px;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    background-color: var(--color-black);
    padding: 10px 20px;
}

.install-wrapper>*{
   vertical-align:middle;
   padding-right: 3px;
}

.bar {
    width: 100%;
    height: 20px;
    border-top: 2px solid var(--color-grey);
    margin: 10px 0px;
}

.propic {
    display: inline-block;
    background-color: var(--color-grey);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
    margin-right: 5px;
}

.propic-wrap>h3 {
    display: inline-block;
    vertical-align: middle;
}

/*main-menù*/

.main-menù {
    width: calc(100% - 250px);
    background-color: var(--color-dark-color);
    overflow-y: scroll;
    padding: 100px 30px 0;

}

.main-menù>ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.main-menù>ul>li {
    color: var(--color-grey);
    padding: 15px 25px;
}

.sect-title {
    padding: 30px 0px;
    padding-left: 12px;
}

.sect-title>h4 {
    padding: 15px 0px;
}

.card-wrapper {
    display: flex;
    flex-flow: row wrap;
}

.card-text {
    padding-top: 10px;
}

.card-text>* {
    text-align: center;
    padding: 5px 0px;
}

.card {
    width: calc(100% / 6);
    padding: 10px;
}

.card-img-rounded {
    border-radius: 50%;
    overflow: hidden;
}

/*cta*/

.cta {
    width: calc(100% - 250px);
    height: 90px;
    background-color: #00000058;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    display: flex;
    flex-flow: row-reverse;
}

.cta-button-wrapper {
    border-radius: 50px;
    border: 2px solid var(--color-white);
    margin: 20px 30px 20px;
    padding: 13px 50px;
}

.cta-button-wrapper>a {
    color: var(--color-white);
}


/*audiobar*/

.audiobar {
    width: 100%;
    height: 90px;
    background-color: var(--color-dark-grey);
    position: fixed;
    z-index: 1001;
    bottom: 0;
    left: 0;
    display: flex;
   flex-flow: row;
   padding: 15px 20px; 
}

.sidebar-audio {
   display: flex;
   flex-flow: row;
   align-items: center;
   width: 20%;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}

.sidebar-audio-album {
    display: flex;
    flex-flow: row;
    padding-right: 60px;
}

.sidebar-audio-album>img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.sidebar-audio-icons>a {
    margin-right: 10px;
}

.midbar-audio {
    width: 60%;
}

.midbar-audio-icons, .playbar {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

.midbar-audio-icons>li {
    color: var(--color-white);
    font-size: 1rem;
    margin: 10px 15px;
}

.play-icon {
    font-size: 2rem !important;
    margin-top: 0 !important;
}

.playbar>h4 {
    color: var(--color-white);
    font-size: 0.8rem;
}

.playbar-total {
    width: 500px;
    height: 5px;
    background-color: var(--color-grey);
    border-radius: 50px;
    margin: 7px 30px;
}

.playbar-listened {
    width: 100px;
    height: 5px;
    background-color: var(--color-white);
    border-radius: 50px;
}

.volbar-total {
    width: 150px;
    height: 5px;
    background-color: var(--color-grey);
    border-radius: 50px;
}

.volbar-listened {
    width: 50px;
    height: 5px;
    background-color: var(--color-white);
    border-radius: 50px; 
}

/*media quary*/

@media screen and (max-width: 1200px) {
    
    .sidebar-audio-album {
        padding-right: 30px;
    }

    .sidebar-audio-album>div>h4, h5 {
        display: none;
    }

    .volbar-total {
        display: none;
    }

}

@media screen and (max-width: 992px) {

    .card {
        width: calc(100% / 4);
    }
    
    .sidebar-audio-album {
        padding-right: 20px;
    }
    
}

@media screen and (max-width: 768px) {

    /*cta*/

    .cta {
        align-items: center;
    }

    .cta-button-wrapper>a {
        font-size: 0.8rem;
        display: inline-block;
        border: 2px solid var(--color-white);
        padding: 13px 30px;
        border-radius: 50px;
    }

    .cta-button-wrapper {
        margin: 0;
        border: 0;
    }

    /*sidebar*/

    .sidebar-audio-album {
        display: none;
    }

    /*main-menù*/

    .main-menù>ul>li {
        width: 100%;
        text-align: center;
    }

    .card {
        width: calc(100% / 2);
    }

}


@media screen and (max-width: 576px) {

    /*cta*/
    
    .cta {
        justify-content: flex-start;
    }

    .cta-button-wrapper>a {
        font-size: 0.7rem;
    }

    .sidebar {
        width: 80px;
        justify-content: center;
    }

    .main-menù, .cta {
        width: calc(100% - 80px);
    }

    /*main-menù*/

    .main-menù>ul>li {
        width: 100%;
        text-align: center;
    }

    .card {
        width: 100%;
        max-width: 300px;
    }

    .sect-title {
        text-align: center;
        padding-left: 0;
    }

    .card-wrapper {
        justify-content: center;
    }

    /*sidebar*/

    .logo-wrapper {
        display: none;
    }

    .minor-logo-wrapper {
        display: block;
    }

    .option>h4 {
        display: none;
    }

    .option {
        padding-left: 5px;
    }

    .logo-wrapper, .playlist-wrapper, .bar {
        display: none;
    }

    .install-wrapper>span {
        display: none;
    }

    .install-wrapper>.icon {
        width: 30px;
        margin-bottom: 10px;
    }

    /*audiobar*/

    .propic-wrap>h3 {
        display: none;
    }

    .midbar-audio {
        width: 100%;
    }

    .sidebar-audio {
        display: none;
    }

}

